.coupon-page{
    display: flex;
    justify-content:flex-start
}

.coupon{
   
    width: 40%;
    margin-left: max(5vw,25px);
    margin-top: 10px;
    color: tomato;
    font: 16px;
}

.forms{
    gap: 20px;
    
}

.coupon-name , .coupon-amount{
    width: max(40px,280px);
}

.coupon-name input,.coupon-amount input{
    padding: 10px;
    margin-bottom: 20px;
}


.coupon button{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


.show-coupon {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.coupon-header,
.coupon-data {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.coupon-header {
    font-weight: bold;
    background-color: #f3f3f3;
    border-bottom: 2px solid #ccc;
}

.coupon-data {
    border-bottom: 1px solid #ddd;
}

button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: tomato;
}


