.login{
    display: flex;
    justify-content: center;
}


.login-container form{
    width: 300px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 350px;
  }

.login-title{
    display: flex;
    justify-content: center;
}

.login-title h2{
    color: tomato;
}


.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}

.login-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.button-container{
    display: flex;
    justify-content: center;
    
}

.button-container button{
    background-color: tomato;
    
}

.login-container p{
    font-size: 14px;
    
}